

.row:before, .row:after, .column:before, .column:after, .cf:before,
.cf:after {
    content: " ";
    display: table;
}

.row:after, .column:after, .cf:after {
    clear: both;
}

/**
 * IE6/7 fix
 */
.row, .column, .cf {
    *zoom: 1;
}


.column-1 { width: 60px; }
.column-2 { width: 140px; }
.column-3 { width: 220px; }
.column-4 { width: 300px; }
.column-5 { width: 380px; }
.column-6 { width: 460px; }
.column-7 { width: 540px; }
.column-8 { width: 620px; }
.column-9 { width: 700px; }
.column-10 { width: 780px; }
.column-11 { width: 860px; }
.column-12 { width: 940px; }


.column {
	margin: 0 10px 0 10px;
  float: left;
}


.row {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}